body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(15 23 42);
  color: rgb(255 255 255);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  body {
    flex-direction: column;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.signFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  background-color: white;
  border-radius: 10px;
  padding: 20px 10px;
}

.signGenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 500px; */
  /* height: 200px; */
  background-color: white;
  color: black;
  border-radius: 10px;
  vertical-align: text-top;
}
.imageContainer {
  height: 25px;
  display: flex;
  margin: 5px 0;
  max-width: 100%;
}
.tableRowContianer {
  max-width: 100%;
}
.name {
  font-size: 16px;
  font-weight: 700;
  color: #00d5fd;
}
.breaker {
  color: #09ffbb;
}
.position {
  color: #bcbec0;
  font-size: 12px;
}
.phone {
  color: #010039;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0;
}
.links {
  text-decoration-line: none;
  font-size: 12px;
  height: 16px;
  color: #010039;
  font-weight: 700;
  margin: 6px;
}
.tableDataContianer {
  padding: 10px;
  width: 10px;
  vertical-align: top;
}
p {
  margin: 6px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 400px;
  border-radius: 10px;
}
.inputContianer {
  width: 80%;
  margin-top: 15px;
}

.linkImg {
  height: 20px;
  /* display: flex; */
  margin: 5px 0 5px 0;
}
.spacer {
  height: 20px;
  /* display: flex; */
  margin: 5px 10px;
}

.linksContainer {
  display: flex;
  align-items: center;
  height: 25px;
  max-width: 100%;
}
.logoContianer {
  width: 80px;
}
